*{
    color:rgb(11, 11, 59);
}

.a1{
    color: rgb(11, 11, 59);
    background-color:lightblue;
    display: inline;
    border-style: solid;
    border-color: orangered;
    border-radius: 7px;
}

.a2{
    color: rgb(11, 11, 59);
    background-color:lightblue;
    display: inline;
    border-style: solid;
    border-color:orangered;
    border-radius: 7px;
}

.a3{
    color: rgb(11, 11, 59);
    background-color:lightblue;
    display: inline;
    border-style: solid;
    border-color:orangered;
    border-radius: 7px;
}

.a4{
    color: rgb(11, 11, 59);
    background-color:lightblue;
    display: inline;
    border-style: solid;
    border-color: orangered;
    border-radius: 7px;
}

.a5{
    color: rgb(11, 11, 59);
    background-color:lightblue;
    display: inline;
    border-style: solid;
    border-color:orangered;
    border-radius: 7px;
}
  
  
